<h1>Create a new account</h1>

<%= render "layouts/errors" %>
<div class="form-div">
<%= form_with model: @user, class: 'centered-form' do |f| %>
  <%=f.label :username%>
  <%= f.text_field :username %>
  <%=f.label :password%>
  <%= f.password_field :password %>
  <%= f.submit %>
<% end %>
</div>
