<%= form_tag(user_boardgames_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Boardgames" %>
  <%= submit_tag "Search" %>
<% end %>

  <%= link_to "Add a Boardgame", new_user_boardgame_path(@user.id) %>

<h1><%=@user.username.capitalize%>'s Page</h1>

<% if page_belongs_to_user? %>
  <div>
    <h3>Friend Requests</h3>
    <ul>
      <% @friend_requests.each do |friend_request| %>
        <%= form_with local: true, method: 'patch', url: friendship_path(friend_request.id) do |f| %>
          <%= f.submit "Accept #{friend_request.friend.username}'s request" %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div>
    <h3>Friends:</h3>
    <ul>
      <% @friends.each do |friend| %>
        <li><%= link_to("#{friend.username}", user_boardgames_path(friend.id)) %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<% if !current_user.friends.find_by(id: @user.id) && !page_belongs_to_user? %>
  <%= form_with local: true, url: friendships_path do |f| %>
    <%= hidden_field(:friendships, :friend_id, value: @user.id) %>
    <%= f.submit "Add Friend" %>
  <% end %>
<% end %>

<% if @user.boardgames %>
  <h2><%=@user.username.capitalize%>'s Boardgames</h2>
  <ul>
    <% @user.boardgames.each do |game| %>
    <li><%= link_to(game.name, user_boardgame_path(@user.id, game.id),class: :gname) %></li>
    <% if page_belongs_to_user? %>
      <li><%= link_to('Edit', edit_user_boardgame_path(@user.id, game.id)) %> | <%= link_to('Delete', user_boardgame_path(@user.id, game.id), method: 'delete') %></li>
    <% end %>
    <li><%= image_tag(game.image) %></li>
    <% end %>
  </ul>
<% end %>
<br>


<% if @search_results %>
  <h2>Search Results:</h2>
  <ul>
    <% @search_results.each do |game| %>
      <li><%= link_to(game.name, user_boardgame_path(game.owner_id, game.id),class: :gname) %></li>
      <li><%= image_tag(game.image) %></li>
      <li class="g-owner">Owned by <%= link_to "#{game.owner.username}", user_boardgames_path(game.owner_id) %></li>
    <% end %>
  </ul>
<% else %>
  <h2>Friend's Boardgames</h2>
  <% if @friends_games %>
    <ul>
      <% @friends_games.each do |game| %>
        <li><%= link_to(game.name, user_boardgame_path(game.owner_id, game.id),class: :gname) %></li>
        <li><%= image_tag(game.image) %></li>
        <li class="g-owner">Owned by <%= link_to "#{game.owner.username}", user_boardgames_path(game.owner_id) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
