<!DOCTYPE html>
<html>
  <head>
    <title>BoardgameTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="topbar">
    <h1>Golden Bear Board Games</h1>
  </div>
  <div class="flash">
    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
        <div class="notice">
          <%= flash[:alert] %>
        </div>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
